.popup__content {
  position: relative;
  border-radius: 10px;
  width: 430px;
  color: #000000;
  background-color: #FFFFFF;
}

@media screen and (max-width:768px) {
  .popup__content {
    max-width: 282px;
  }
}
